.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #7490f5;
}


.up {
    display: flex;
    width: 1070px;
    justify-content: space-between;
    padding-top: 58px;
}

//left
.left {
    display: flex;
    align-items: flex-start;
    gap: 89px;
}

.footerImg {
    width: 130px;
    height: 92px;
}

.footerUl {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 12px;
}

.footerLi {
    width: 200px;
}


//middle
.middle {
    margin-top: 9px;
}

.phoneWrap {
    display: flex;
    margin-top: 19px;
    gap: 15px;
}

.phone {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.emalSvg {
    margin-left: 12px;
}

.email {
    display: flex;
    margin-top: 17px;
    align-items: center;
}

//right
.right {
    margin-top: 9px;
}

.addressWrap {
    display: flex;
    margin-top: 19px;
    gap: 10px;
}

.address {
    width: 191px;
    height: 104px;
}

//down
.down {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 77px;
    gap: 30px;
    margin-bottom: 36px;
}

.geeks {
    padding: 7px 11px;
    height: 37px;
    background: #0171b9;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.geeksLogo {
    max-width: 1440px;
    text-align: center;
    text-transform: uppercase;
}