.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #7490f5;
}


.up {
    display: flex;
    justify-content: space-between;
    padding: 40px 106px 0 75px;
    max-width: 1440px;
    gap: 66px;
}

//left
.left {
    display: flex;
    align-items: flex-start;
    gap: 58px;
    margin-right: 174px;
    min-width: 381px;
}

.footerUl {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 25px;
}

.footerLi {
    width: 200px;
}

//middle
.middle {
    margin-top: 25px;
}

.phoneWrap {
    display: flex;
    margin-top: 19px;
    gap: 11px;
}

.phone {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: -8px;
}

.emalSvg {
    margin-left: 12px;
}

.email {
    display: flex;
    margin-top: 9px;
    align-items: center;
}

//right
.right {
    margin-top: 25px;
}

.addressWrap {
    display: flex;
    margin-top: 15px;
    gap: 10px;
}

.address {
    width: 276px;
    height: 116px;
}

//down
.down {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 93px;
    gap: 30px;
    margin-bottom: 40px;
}

.geeks {
    padding: 7px 11px;
    height: 37px;
    background: #0171b9;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.geeksLogo {
    max-width: 1440px;
    text-align: center;
}