@use 'shared/styles/variables' as vars;

.right {
    margin-top: 45px;

    @media (max-width:768px) {
        margin-top: 60px;
    }

    .addressWrap {
        display: flex;
        margin-top: 19px;
        gap: 10px;
        width: 254px;
        height: 116px;

        & svg {
            width: 22%;
        }
    }
}

.addressWrap:hover>p {
    color: vars.$footerHover;
}

.addressText {
    white-space: pre-wrap;

    @media (max-width:768px) {
        line-height: 1.9;
    }
}