@use 'shared/styles/variables' as vars;

.btn {
    border-radius: 4px;
    padding: 16px 32px;
    width: 153px;
    height: 52px;
    background-color: vars.$primary-color;
    border-color: transparent;
}