.btn {
    border: 1px solid #7490f5;
    border-radius: 4px;
    padding: 16px 32px;
    width: 154px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    background-color: #8ba4fe32;
}