@use 'shared/styles/variables' as vars;

.aboutNews {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mobileWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media (max-width: 630px) {
        flex-direction: column-reverse;
    }
}

.buttonWrap {
    display: flex;
    width: 100%;
    max-width: 944px;
    height: 54px;
    margin-bottom: 50px;


    .kg,
    .fcon {
        border-radius: 4px 0 0 4px;
        padding: 16px 32px;
        width: 472px;
        height: 54px;
        border: 1px solid vars.$primary-color;
        background: #fff;
        transition: 0.3s;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: vars.$btn-link-hover;
            border: 1px solid vars.$secondary-color;
            color: vars.$secondary-color;
        }

        &:hover span {
            color: vars.$secondary-color;
        }

        @media (max-width: 500px) {
            width: 315px;
            height: 44px;
            border-radius: 4px 4px 0 0;
        }
    }

    .fcon {
        border-radius: 0 4px 4px 0;

        &:hover {
            background-color: vars.$btn-link-hover;
            border: 1px solid vars.$secondary-color;
            color: vars.$secondary-color;
        }

        &:hover span {
            color: vars.$secondary-color;
        }

        @media (max-width: 500px) {
            width: 315px;
            height: 44px;
            border-radius: 0 0 4px 4px;
            border: 1px solid #4d73aa;

            &>span {
                color: #4d73aa;
            }
        }
    }

    .active {
        background: vars.$primary-color;

        &>span {
            color: white;
        }

        &:hover {
            background: vars.$primary-btn-hover;

            &>span {
                color: white;
            }
        }
    }

    @media (max-width: 768px) {
        max-width: 628px;
        margin-bottom: 32px;
    }

    @media (max-width:630px) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 90px;
    }

    @media (max-width:400px) {
        margin-bottom: 70px;
    }
}



.wrap {
    max-width: 1290px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 48px;

    @media (max-width: 1120px) {
        gap: 20px;
    }

    @media (max-width: 775px) {
        gap: 15px;
    }

    @media (max-width:768px) {
        gap: 20px;
        width: 730px;
        margin-bottom: 32px;
    }

    @media (max-width:760px) {
        gap: 24px;
        width: 100%;
    }
}

.title {
    margin-bottom: 45px;

    @media (max-width: 1345px) {
        margin-top: 40px;
    }

    @media (max-width: 768px) {
        margin-bottom: 28px;
    }

    @media (max-width:400px) {
        width: 315px;
        text-align: center;
        margin-top: 27px;
        margin-bottom: 21px;
    }
}

.paginationContainer {
    margin-bottom: 105px;

    :global {
        .MuiPaginationItem-root {
            width: 48px;
            height: 48px;
            border: 1px solid #2B3F61;
            color: #2B3F61;
            border-radius: 4px;
            font-weight: 500;

            &:hover {
                background-color: #EDF2F7;
            }

            &.Mui-selected {
                background-color: #2B3F61;
                color: #fff;
                border: 1px solid #2B3F61;

                &:hover {
                    background-color: #2B3F61;
                }
            }

            @media (max-width:400px) {
                width: 44px;
                height: 44px;
            }
        }
    }

    @media (max-width: 768px) {
        margin-bottom: 80px;
    }
}

.noResultsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.noResultsText {
    text-align: center;
}