@use 'shared/styles/variables' as vars;

.linkBtn {
    border: 1px solid vars.$primary-color;
    border-radius: 4px;
    padding: 16px 32px;
    width: 154px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: vars.$white;
    transition: 0.3s;
    cursor: pointer;

    span {
        transition: 0.3s;
        color: #4d73aa;
    }

    &:hover {
        background-color: vars.$btn-link-hover;
        border: 1px solid vars.$secondary-color;
        color: vars.$secondary-color;
    }

    &:hover span {
        color: vars.$secondary-color;
    }

    @media (max-width: 500px) {
        width: 315px;
        height: 44px;
        margin-top: 12px;
        border: 1px solid #4d73aa;
    }
}

.modalBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 16px 32px;
    width: 153px;
    height: 55px;
    background-color: vars.$primary-color;
    border-color: transparent;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 29px;

    &:hover {
        background: vars.$primary-btn-hover;
    }

}

.buttonSend {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    border-radius: 4px;
    padding: 12px 10px;
    background: vars.$primary-color;
    border: none;
    transition: 0.3s;
    margin-left: 35px;
    cursor: pointer;

    &:hover {
        background: vars.$primary-btn-hover;
    }

    @media (max-width:1435px) {
        margin-left: 20px;
    }

    @media (max-width:1340px) {
        margin-left: 0;
    }

    @media (max-width:768px) {
        width: 171px;
        height: 55px;
    }

    @media (max-width:650px) {
        display: none;
    }
}

.buttonSendMobile {
    display: none;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    border-radius: 4px;
    padding: 12px 10px;
    background: vars.$primary-color;
    border: none;
    transition: 0.3s;
    width: 315px;
    height: 44px;
    cursor: pointer;
    margin-top: 20px;

    &:hover {
        background: vars.$primary-btn-hover;
    }

    @media (max-width:650px) {
        display: flex;
    }
}

.buttonSendHero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 418px;
    height: 52px;
    font-family: "Open Sans", sans-serif;
    border-radius: 4px;
    padding: 10px 20px;
    background: vars.$primary-color;
    border: none;
    margin-top: -6px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background: vars.$primary-btn-hover;
    }

    @media (max-width: 530px) {
        border-radius: 4px;
        padding: 11px 32px;
        width: 267px;
        height: 44px;
    }
}

.btnHero {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 16px 32px;
    height: 52px;
    background: vars.$primary-color;
    border: none;
    align-self: self-end;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background: vars.$primary-btn-hover;
    }
}

.serviceBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 16px 32px;
    width: 410px;
    height: 52px;
    background: vars.$primary-color;
    border: transparent;
    margin-bottom: 35px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background: vars.$primary-btn-hover;
    }

    @media (max-width:768px) {
        border-radius: 4px;
        padding: 16px 32px;
        width: 230px;
        height: 54px;
    }

    @media (max-width:375px) {
        border-radius: 4px;
        padding: 11px 32px;
        width: 315px;
        height: 44px;
    }
}

.successBtn {
    border-radius: 4px;
    padding: 16px 32px;
    width: 133px;
    height: 54px;
    background-color: vars.$primary-color;
    border: transparent;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background: vars.$primary-btn-hover;
    }
}

.newsBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 16px 32px;
    width: 244px;
    height: 56px;
    background-color: vars.$primary-color;
    border: transparent;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background: vars.$primary-btn-hover;
    }

    &>span {
        display: flex;
        gap: 13px;
        align-items: center;
    }
}

.searchBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 4px 4px 0;
    padding: 16px 32px;
    width: 150px;
    height: 54px;
    background-color: vars.$primary-color;
    border: transparent;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background: vars.$primary-btn-hover;
    }

    @media (max-width: 500px) {
        display: none;
    }
}