@use 'shared/styles/variables' as vars;


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 4px;
    width: 1072px;
    height: 700px;
    padding: 32px 30px;
    position: relative;
    z-index: 1001;
}


.close {
    background: transparent;
    border: none;
    align-self: flex-end;
    margin-bottom: 25px;
    cursor: pointer;
}

.linkWrap {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 25px;
    align-items: center;
}

::placeholder {
    font-weight: 400;
    font-size: 18px;
    color: #b0c3e0;
}


.errorText {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}




////////name//////

.nameWrap {
    display: flex;
    flex-direction: column;
}

.inputText {
    margin-bottom: 8px;
}

.inputName {
    border: 1px solid #8aa3d0;
    border-radius: 4px;
    padding: 10px 15px;
    width: 630px;
    height: 46px;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    color: vars.$semiBlue;
    background: #fbfdff;
    line-height: 46px;
}

.inputName:hover {
    background-color: vars.$input-hover;
    border: 1px solid #505EA5;
}

.inputName:focus {
    outline: none;
    border: 1px solid #505EA5;
}

.inputName::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: vars.$placeholder;
}




///////////phone//////////

.wrap {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.phoneLab {
    align-self: baseline;
}

.phoneInputWrapper {
    // border: 1px solid vars.$placeholder;
    border: 1px solid #8aa3d0;
    border-radius: 4px;
    padding: 10px 15px;
    width: 630px;
    height: 46px;
    margin: -20px 0px 4px 0px;
    display: flex;
    align-items: center;
    background: #fbfdff;
}

.phonePrefix {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: vars.$semiBlue;
    margin-right: 8px;
    white-space: nowrap;
    width: 100%;
}


.line {
    border: 1px solid vars.$placeholder;
    width: 14px;
    height: 0px;
    transform: rotate(90deg);
    margin-left: 6px;
}

.phoneInput {
    border: none;
    outline: none;
    flex: 1;
    padding: 4px 0;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    color: #505ea5;
    background: #fbfdff;
}

.phoneInput::placeholder {
    font-size: 16px;
    color: #8aa3d0;
}

.phoneInputWrapper:hover {
    background-color: vars.$input-hover;
    border: 1px solid #505EA5;
}

.phoneInputWrapper:focus-within {
    background-color: vars.$input-hover;
    border: 1px solid #505EA5;
}

.phoneInputWrapper:hover,
.phoneInputWrapper:hover .phoneInput {
    background-color: vars.$input-hover;
}

.phoneInput:focus {
    background-color: vars.$input-hover;
}

.errorTextPhone {
    color: red;
    font-size: 12px;
    margin-top: -25px;
}

.inputName:-webkit-autofill,
.inputName:-webkit-autofill:hover,
.inputName:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px #fbfdff inset !important;
    -webkit-box-shadow: 0 0 0 1000px #fbfdff inset !important;
    -webkit-text-fill-color: vars.$semiBlue !important;
}

///////checked//////
.inputChek::placeholder {
    font-size: 16px;
    color: #8aa3d0;
}

.agree {
    display: flex;
    gap: 20px;
    width: 630px;
    height: 50px;
    border-radius: 4px;
    margin-top: 11px;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
    position: relative;
}

.agreeInput {
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.errorTextAgree {
    color: red;
    font-size: 12px;
}

.errorCheckbox {
    outline: 2px solid red;
    outline-offset: 2px;
}

/////////select/////
.lab {
    margin-bottom: 8px;
}

.inputTextQuestion {
    margin-bottom: 5px;
}

.errorInput {
    border: 1px solid red;
}

.star {
    color: red;
    font-size: 20px;
}

.star1 {
    color: red;
    font-size: 20px;
    display: inline;
    position: absolute;
    top: 23px;
    left: 204px;
}