.title {
  text-align: center;
}


.block {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width:768px) {
    margin-top: -18px;
  }
}

.newsCard {
  display: flex;
  justify-content: center;
  gap: 40px;

  @media (max-width: 1100px) {
    &> :last-child {
      display: none;
    }

    margin-top: 22px;
    margin-bottom: 46px;
  }

  @media (max-width:768px) {
    gap: 20px;
  }
}


.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}