.link {
    display: flex;
    border: 1px solid #7490f5;
    border-radius: 4px;
    padding: 16px 32px;
    width: 178px;
    height: 56px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.link:hover {
    background-color: #E6EDF3;
}