.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 50px;
}

.img {
    width: 1290px;
    height: 550px;
    object-fit: cover;
    margin-bottom: 50px;
}

.text {
    width: 1069px;
    margin: 0 auto;
    margin-bottom: 95px;
}

.down {
    width: 1290px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.downWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}