.largeContent {
    display: flex;
    border-radius: 4px;
    width: 1070px;
    height: 470px;
    justify-content: space-between;
    margin: 0 auto;
    box-shadow: 4px 10px 12px 0 rgba(0, 0, 0, 0.16);
}


.smallContent {
    border-radius: 4px;
    width: 330px;
    height: 370px;
    box-shadow: 4px 10px 12px 0 rgba(0, 0, 0, 0.16);
}

.title {
    margin-bottom: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 470px;
}

.up {
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    padding: 21px 20px;
    margin-bottom: 25px;
}

.smallUp {
    display: flex;
    justify-content: space-between;
    padding: 15px 21px;
}

.smallDescription {
    padding: 15px 20px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 20px;
}

.down {
    padding-right: 45px;
    padding-left: 20px;
}