.largeContent {
    display: flex;
    justify-content: space-between;
    margin: 60px auto;
    width: 1070px;
    height: 470px;
    border-radius: 4px;
    box-shadow: 4px 10px 12px 0 rgba(0, 0, 0, 0.16);
}

.smallContent {
    border-radius: 4px;
    width: 330px;
    height: 420px;
    box-shadow: 4px 10px 12px 0 rgba(0, 0, 0, 0.16);
    margin: 10px 0 50px 0;
    box-sizing: border-box;
}

.descriptionLarge {
    width: 450px;
    height: 246px;
    margin-top: 30px;
}

.title {
    margin-bottom: 18px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 470px;

}

.up {
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    padding: 21px 20px;
    margin-bottom: 25px;
}

.smallUp {
    display: flex;
    justify-content: space-between;
    padding: 15px 21px;
}

.smallDescription {
    padding: 15px 20px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 20px;
}

.down {
    padding-right: 45px;
    padding-left: 20px;
}

.linkLarge {
    display: flex;
    align-items: center;
    gap: 10px;
}