@use 'shared/styles/variables' as vars;

.container {
    background-color: white;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.625rem;
    width: 1440px;
    margin: 0 auto;
    padding: 0 75px;
}

.logo {
    width: 6.125rem;
}

.list {
    display: flex;
    gap: 3.125rem;
}

.list>li {
    border-bottom: 3px solid transparent;
    transition: border-color 0.5 ease;
}

.list>li:hover,
.list>li:focus {

    border-color: vars.$link-hover;

}

.typo:hover>p {
    color: vars.$link-hover;
}

.lang {
    padding: 3px 8px;
    border-radius: 4px;
}