.fontOpenSans {
    font-family: 'Open Sans', sans-serif;
}

.fontComfortaa {
    font-family: 'Comfortaa', sans-serif;
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

.pBig {
    font-size: 20px;
    line-height: 140%;
}

.pMedium {
    font-size: 18px;
}

.pRegular {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

.pSmall {
    font-size: 18px;
}

.pLittle {
    font-size: 16px;
}

.pLogo {
    font-size: 11px;
    text-transform: uppercase;
}

.regular {
    font-weight: 400;
}

.meddium {
    font-weight: 500;
}

.normal {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.lineRegular {
    line-height: 1.5;
}

.lineBig {
    line-height: 170%;
}

.lineMedium {
    line-height: 160%;
}

.lineSmall {
    line-height: 140%;
}

.lineLittle {
    line-height: 111%;
}

.black {
    color: #000;
}

.white {
    color: #fff;
}

.blue {
    color: #7490f5;
}