$primary-color: #2B3F61;
$secondary-color: #6f91c1;
$input-color: #B0C3E0;
$semiBlue: #505ea5;
$input-hover: #f4f9ff;
$input-focus: #8aa3d0;
$placeholder: #b0c3e0;
$btn-link-hover: #E6EDF3;
$link-hover: #7490f5;
$primary-btn-hover: #4D73AA;
$footer-line: #74A5C5;
$footerHover: #4D73AA;
$footer-background: #D3F0FF;
$black: #000;
$white: #fff;
$lightGrey: rgba(0, 0, 0, 0.9);
$lightBlue: #345ea6;
$opacity: rgba(0, 0, 0, 0.38);
$grey: #555;
$cardHover: #CDD8EA;
$dark: #282828;
$blueLight: #cdd8ea;
$sliderText: #365180;
$sliderHover: #e3f5ff;
$spiner: #537dd3;
$disabl: #e9edf5;