$primary-color: #2B3F61;
$secondary-color: #6f91c1;


$input-color: #B0C3E0;
$input-text: #505ea5;
$input-hover: #f4f9ff;
$input-focus: #8aa3d0;
$placeholder: #b0c3e0;


$btn-link-hover: #E6EDF3;

$link-hover: #7490f5;

$primary-btn: #365180;
$primary-btn-hover: #4D73AA;

$footer-line: #0171b9;