@use 'shared/styles/variables' as vars;

.seviceCard {
    border-radius: 4px;
    width: 410px;
    height: 320px;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: vars.$opacity;
    width: 410px;
    height: 123px;
    padding: 33px 64px 0 64px;
    transition: 0.5s;
    text-align: center;
}

.title {
    margin-top: 14px;
}

.description {
    margin-top: 70px;
    transition: 0.5s;
}

.seviceCard:hover .content {
    height: 240px;
    padding-top: 0px;
    padding: 23px 64px;
}

.seviceCard:hover .description {
    margin-top: 14px;
}