.seviceCard {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 30px 78px;
    width: 410px;
    height: 310px;
    background-image: url('../../assets/img/service.webp');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
}

.text {
    width: 240px;
}