@use 'shared/styles/variables' as vars;


.linkBtn {
    border: 1px solid vars.$primary-color;
    border-radius: 4px;
    padding: 16px 32px;
    width: 154px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: vars.$white;
    transition: 0.5s;
    cursor: pointer;

    span {
        transition: 0.5s;
    }
}



.serviceCard {
    border-radius: 4px;
    width: 410px;
    height: 380px;
    display: flex;
    transition: 0.5s;
    box-shadow: 2px 6px 8px 4px rgba(0, 0, 0, 0.12);
    background: #fff;
    padding: 35px 42px;

    .linkBtn:hover {
        background-color: vars.$btn-link-hover;
        border: 1px solid vars.$secondary-color;
        color: vars.$secondary-color;

        span {
            color: vars.$secondary-color;
        }
    }

    @media (max-width: 890px) {
        width: 354px;
    }

    @media (max-width: 768px) {
        padding: 35px 35px;
    }
}



.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .subtitle {
        @media (max-width: 768px) {
            color: black;
        }

    }
}

.imgWrap {
    width: 70px;
    height: 70px;
}

.wrapText {
    height: 143px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-top: -9px;
}

.linkWrapBtn {
    width: 154px;
}