@use 'shared/styles/variables' as vars;

.hero {
    background-image: url(/src/shared/assets/img/hero.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1440px;
    height: 730px;
    margin: 0 auto;
}

.wrap {
    margin: 0 auto;
    display: flex;
    padding: 100px 75px;
    gap: 96px;
    flex-direction: row-reverse;
    margin-bottom: 120px;
}

.left {
    border-radius: 4px;
    width: 536px;
    height: 302px;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.5);
    padding: 27px 29px 46px 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 475px;
    margin-bottom: 54px;
}

.h1 {
    margin-bottom: 15px;
}

.text {
    max-width: 450px;
    margin-bottom: 33px;
}

.right {
    width: 740px;
    height: 730px;
}

.right img {
    width: 100%;
    height: 100%;
}