@use 'shared/styles/variables' as vars;


.left {
    display: flex;
    align-items: flex-start;
    gap: 150px;

    @media (max-width:1380px) {
        width: 142px;
    }

    @media (max-width:768px) {
        margin-left: -190px;
        width: 162px;
    }

    @media (max-width:750px) {
        margin-left: 0;
    }

    .footerImg {
        width: 130px;
        height: 92px;
    }

    .footerUl {
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin-top: 50px;

        @media (max-width:768px) {
            margin-left: 8px;
            margin-top: 0px;
            gap: 17px;
        }

        @media (max-width:580px) {
            align-items: center;
            gap: 21px;
        }
    }

}

.leftLink:hover>p {
    color: vars.$footerHover;
}

.title {
    text-transform: uppercase;
}