@use 'shared/styles/variables' as vars;

.middle {
    margin-top: 11px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .contactItem,
    .contactWithoutIcon {
        display: grid;
        grid-template-columns: 20px auto;
        align-items: center;
        gap: 14px;

        &.contactWithoutIcon {
            gap: 8px;

            .emptySpace {
                width: 20px;
            }
        }
    }
}

.contactLink:hover>p {
    color: vars.$link-hover;
}