@use 'shared/styles/variables' as vars;

.middle {
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-left: -12px;

    @media (max-width:768px) {
        margin-top: 0;
        gap: 17px;
    }

    @media (max-width:580px) {
        margin-left: 0;
        gap: 18px;
        align-items: center;
    }

    .contactItem,
    .contactWithoutIcon {
        display: grid;
        grid-template-columns: 20px auto;
        align-items: center;
        gap: 14px;

        &.contactWithoutIcon {
            gap: 8px;

            .emptySpace {
                width: 20px;
            }
        }

        @media (max-width: 580px) {
            gap: 21px;
        }
    }
}

.contactItem>svg {
    height: 32px;
    width: 30px;
}

.middle .contactItem.secondContactItem {
    margin-left: 34px;
    display: flex;
}

.contactItem {
    @media (max-width: 580px) {
        margin-left: -33px;
    }
}

.contactLink:hover>p {
    color: vars.$footerHover;
}

.contactEmal {
    @media (max-width:580px) {
        margin-left: 10px;
    }
}