@use 'shared/styles/variables' as vars;

.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.3rem;
    margin: 6.4rem 0;

    @media (max-width: 768px) {
        margin-top: 15rem;
        gap: 2rem;
        margin-bottom: 78px;
    }

    @media (max-width: 530px) {
        margin-top: 164px;
        gap: 23px;
        margin-bottom: 54px;
    }

}

.main {
    display: flex;
    align-items: center;
    gap: 3rem;
    position: relative;

    @media (max-width: 1350px) {
        flex-direction: column;
        gap: 2rem;
    }

    @media (max-width: 768px) {
        gap: 3rem;
    }

    @media (max-width: 710px) {
        gap: 0;
    }
}

.back {
    position: absolute;
    background-color: vars.$blueLight;
    width: 895px;
    height: 508px;
    z-index: -1;
    right: -30px;
    top: -35px;

    @media (max-width: 1350px) {
        display: none;
    }
}

.text {
    width: 610px;
    height: 352px;
    display: flex;
    flex-direction: column;
    gap: 22px;

    .titleUp {
        display: inline;
        margin-right: 5px;
    }

    .titleDown {
        display: inline;
    }

    @media (max-width: 1350px) {
        width: auto;
        height: auto;
    }

    @media (max-width: 768px) {
        width: auto;
        height: auto;
        margin-right: -13px;
        margin-top: 10px;
        gap: 13px;
    }

    @media (max-width:375px) {
        margin-top: 25px;
        margin-left: 0;
    }
}

.imageWrap {
    width: 630px;
    height: 440px;

    @media (max-width: 768px) {
        width: 676px;
        border-radius: 4px;
    }

    @media (max-width: 710px) {
        width: 500px;
        height: auto;
    }

    @media (max-width: 710px) {
        width: 315px;
        height: 210px;
    }
}

.image {
    width: 100%;
}